<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    {{>header}}
    <main>
        <ul>
         <li>Name: {{name}}</li>
         <li>Address: {{address}}</li>
        </ul>
    </main>
    {{>footer}}
</body>
</html>