
<div class="header">
    <h1>{{title}}</h1>
    <div class="header-links hamburger-menu">
        <ul class="links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        <img src="/imgs/icon_ham.png" alt="">
    </div>
</div>
<script src="/js/hamburger.js"></script>
